name: Build Project

on: [push]

env:
  TAG: raiju:build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Image
      uses: docker/build-push-action@v2
      with:
        context: .
        load: true
        tags: ${{ env.TAG }}

    - name: Build Project
      run: docker run -v "${PWD}":/workspace --rm -w /workspace ${{ env.TAG }} /bin/bash scripts/build.sh
